# Using the Yelp API (Practice)

## 1. Use your API credentials to access the the Yelp API

In [16]:
# import json to read yelp api credentials
import json

# with open: yelp api credentials (save as variable)
with open('/Users/yang0108/.secret/yelp_api.json') as f:
    login = json.load(f)

login.keys()

dict_keys(['client-id', 'api-key'])

In [17]:
# import yelpapi class
from yelpapi import YelpAPI

# create instance with api key
yelp_api = YelpAPI(login['api-key'], timeout_s = 5.0)
yelp_api

## 2. You can choose the location and search term (food), but it must return more than 20 results so you can practice pagination!

In [18]:
# use search_query method to perform api call
search_results_0 = yelp_api.search_query(location = 'Seattle, WA',
                                      term = 'Korean')

# check
print(type(search_results_0))
search_results_0.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [19]:
# how many total search results?
search_results_0['total']

732

In [20]:
# import pandas
import pandas as pd

# look at data in dataframe
biz0 = pd.DataFrame(search_results_0['businesses'])
biz0.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,45iVzFsXpjUuiBw0Dhc_Qg,seoul-tofu-and-jjim-seattle,Seoul Tofu & Jjim,https://s3-media4.fl.yelpcdn.com/bphoto/2GgYXM...,False,https://www.yelp.com/biz/seoul-tofu-and-jjim-s...,132,"[{'alias': 'korean', 'title': 'Korean'}]",5.0,"{'latitude': 47.62224, 'longitude': -122.32064}","[delivery, pickup]",$$,"{'address1': '406 Broadway E', 'address2': Non...",+12062575642,(206) 257-5642,1130.239024
1,h1Q0Wkx5TUUZeVjJrXTwmQ,chan-seattle-seattle-2,Chan Seattle,https://s3-media2.fl.yelpcdn.com/bphoto/C5Iry3...,False,https://www.yelp.com/biz/chan-seattle-seattle-...,982,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.5,"{'latitude': 47.61312322818342, 'longitude': -...",[delivery],$$,"{'address1': '724 Pine St', 'address2': '', 'a...",+14256582626,(425) 658-2626,287.367244

In [21]:
# how many businesses were returned in our api call?
len(search_results_0['businesses'])

# this represents the first 'page' of results

20

## 3. Obtain ONLY the first two pages of results

In [22]:
# get the second page of results with another call
search_results_20 = yelp_api.search_query(location = 'Seattle, WA',
                                        term = 'Korean',
                                          offset = 20)

In [23]:
# save second page of results in another dataframe
biz20 = pd.DataFrame(search_results_20['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,6GkTnlOLJbV_wOYyDF-W9w,sahm-gook-jih-palace-lynnwood,Sahm Gook Jih Palace,https://s3-media3.fl.yelpcdn.com/bphoto/ZX5oWa...,False,https://www.yelp.com/biz/sahm-gook-jih-palace-...,300,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.0,"{'latitude': 47.8028221130371, 'longitude': -1...",[delivery],$,"{'address1': '21619 Hwy 99', 'address2': 'Ste ...",+14257719888,(425) 771-9888,20961.773722
1,PFzF3dcRKGcziTf4KT0Skw,korean-tofu-house-seattle,Korean Tofu House,https://s3-media3.fl.yelpcdn.com/bphoto/s21vbN...,False,https://www.yelp.com/biz/korean-tofu-house-sea...,812,"[{'alias': 'korean', 'title': 'Korean'}]",3.5,"{'latitude': 47.658422, 'longitude': -122.31397}","[pickup, delivery]",$$,"{'address1': '4142 Brooklyn Ave NE', 'address2...",+12066323119,(206) 632-3119,5050.117910

## 4. Concatenate the results into one data frame

In [24]:
# concatenate biz and biz20 into one dataframe
businesses = pd.concat([biz0, biz20],
                      ignore_index = True)

# display
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,45iVzFsXpjUuiBw0Dhc_Qg,seoul-tofu-and-jjim-seattle,Seoul Tofu & Jjim,https://s3-media4.fl.yelpcdn.com/bphoto/2GgYXM...,False,https://www.yelp.com/biz/seoul-tofu-and-jjim-s...,132,"[{'alias': 'korean', 'title': 'Korean'}]",5.0,"{'latitude': 47.62224, 'longitude': -122.32064}","[delivery, pickup]",$$,"{'address1': '406 Broadway E', 'address2': Non...",+12062575642,(206) 257-5642,1130.239024
1,h1Q0Wkx5TUUZeVjJrXTwmQ,chan-seattle-seattle-2,Chan Seattle,https://s3-media2.fl.yelpcdn.com/bphoto/C5Iry3...,False,https://www.yelp.com/biz/chan-seattle-seattle-...,982,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.5,"{'latitude': 47.61312322818342, 'longitude': -...",[delivery],$$,"{'address1': '724 Pine St', 'address2': '', 'a...",+14256582626,(425) 658-2626,287.367244
2,nUkPOJ5p4E9U7e2DbOzzMw,meet-korean-bbq-seattle,Meet Korean BBQ,https://s3-media3.fl.yelpcdn.com/bphoto/UwvDMA...,False,https://www.yelp.com/biz/meet-korean-bbq-seatt...,313,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.5,"{'latitude': 47.614352, 'longitude': -122.325214}","[delivery, pickup]",$$$$,"{'address1': '500 E Pike St', 'address2': None...",+12066952621,(206) 695-2621,361.544031

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,Bk1Lv8P0Fb8nGOHVnJ_VbA,babsarang-deli-edmonds-2,Babsarang Deli,https://s3-media2.fl.yelpcdn.com/bphoto/P1rFSU...,False,https://www.yelp.com/biz/babsarang-deli-edmond...,72,"[{'alias': 'korean', 'title': 'Korean'}]",4.5,"{'latitude': 47.79348, 'longitude': -122.33734}",[delivery],$$,"{'address1': '22618 Hwy 99', 'address2': 'Ste ...",+14257767290,(425) 776-7290,19924.287487
38,KNLimnRjDonChBcJLs6GLA,traditional-korean-beef-soup-edmonds,Traditional Korean Beef Soup,https://s3-media4.fl.yelpcdn.com/bphoto/Yt_9pW...,False,https://www.yelp.com/biz/traditional-korean-be...,288,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 47.7910242, 'longitude': -122.337...","[pickup, delivery]",$$,"{'address1': '22929 Hwy 99', 'address2': '', '...",+14259772929,(425) 977-2929,19657.148051
39,4RYqVtK-BHQ9jH7Yzk9nqA,palmi-korean-bbq-seattle,Palmi Korean BBQ,https://s3-media1.fl.yelpcdn.com/bphoto/SXepoh...,False,https://www.yelp.com/biz/palmi-korean-bbq-seat...,275,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",3.5,"{'latitude': 47.66234, 'longitude': -122.31278}","[pickup, delivery]",$$,"{'address1': '4534 University Way NE', 'addres...",+12066339993,(206) 633-9993,5495.784994

## 5. Save the businesses as a records-oriented JSON file. (df.to_json(orient='records'))

In [25]:
# save businesses df to json variable
businesses_records = businesses.to_json(orient = 'records')

In [26]:
# save to json file
with open('businesses_records.json', 'w') as f:
    json.dump(businesses_records, f)